<br>

  <div class="row">
    <div class="col-md-8">

        <p class="mb-0">{{answer.content}} </p>
        <footer class="blockquote-answer">
          {{answer.author}}
        </footer>
        <br>

    </div>
  </div>
